.footer {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  flex-direction: row;
  justify-content: space-between;
}

.imagelogof {
  align-items: end;
  justify-content: right;
  float: right;
}