@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.header {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.frase {
  justify-content: center;
  align-items: center;
}

.carrinho {
  float: right;
  justify-content: flex-end;
  align-items: end;
}
