/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/styles/header.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.header_header__wFPaD {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  flex-direction: row;
  justify-content: space-between;
}

.header_frase__e8cRX {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.header_carrinho__9UkaJ {
  float: right;
  justify-content: flex-end;
  align-items: end;
}

.header_button__4qe2L {
  text-align: right;
  margin-top: 10px;
}

.header_logo__gD3Ck {
  margin-top: 10px;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/styles/footer.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__17AzZ {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  flex-direction: row;
  justify-content: space-between;
}

.footer_imagelogof__ZW97z {
  align-items: end;
  justify-content: right;
  float: right;
}
