/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/styles/main.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.main_main__2loXR {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  background-color: rgb(235, 235, 235);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main_card__2TNBb {
  display: flex;
  width: 400px;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 24px;
}
.main_description__L6nqo {
  margin-left: 15px;
  margin-right: 15px;
  text-align: justify;
}

